<html>
  <head>
    <meta name="decorator" content="atl.admin"/>
    <title>Apply Permission Profile</title>
  </head>
  <body>
      <h1>Bulk Update Project Permission Schemes</h1>

      <div>
      <form method="POST" class="aui" action="$requestContext.baseUrl/secure/admin/PermissionSchemeBulkUpdateAction!update.jspa">
          <div class="field-group">
              <label for="select-example">Permission Scheme</label>
              <select class="select" id="permissionScheme" name="permissionScheme">
              #foreach($scheme in $permissionSchemes)
                <option value="$scheme.getId()">$scheme.getName()</option>
              #end
              </select>
          </div>
          <fieldset class="group">
              <legend><span>Select projects to update</span></legend>
              #foreach($project in $projects)
                  <div class="checkbox">
                      <input class="checkbox" type="checkbox" name="projectToUpdate" id="projectToUpdate" value="$project.getId()" checked="checked">
                      <label for="checkBoxOne">$project.getName() ($project.getKey())</label>
                  </div>
              #end
          </fieldset>
          <div class="buttons-container">
              <div class="buttons">
                    <input type="hidden" name="profileId" id="profileId" value="$profileId">
                    <input class="aui-button" type="submit" value="Apply" id="apply-button">
                  <a class="cancel" href="$requestContext.baseUrl/secure/admin/PermissionProfileManagerAction!default.jspa">Cancel</a>
              </div>
          </div>
      </form>
      </div>


  </body>
</html>